.text {
  font: var(--text1-mobile);
  color: var(--secondary);
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .text {
    font: var(--text1-desktop);
    color: var(--secondary);
    letter-spacing: 1px;
  }
}
