.title {
  font: var(--headline1-mobile);
  color: var(--black);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.highlight {
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  .title {
    font: var(--headline1-desktop);
    color: var(--black);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}
